<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post a TicTac</title>
</head>
<body>
    <a href="/"><h1>TicTac Home</h1></a>
    <h2>Post a TicTac</h2>
    <form action="/post" method="post">
        <label for="title">Post title</label><input autocomplete="false" id="title" type="text" name="title" maxlength="128" />
        <label for="text">Post text</label><input autocomplete="false"id="text" type="text" name="text" maxlength="512" />
        <input type="submit" />
        {{error if error != None else ""}}
    </form>
</body>
</html>