<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View TicTacs</title>
    <style>
        .rounded {
            border-radius: 10px;
        }
        .comment {
            padding: 5px;
            margin: 10px;
        }
        #comment-div {
            position: absolute;
            width: 50%;
            height: 75%;
            top: 50%;
            left: 50%;
            background: silver;
            padding: 15px;
            border-radius: 10px;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -25%);
        }
    </style>
</head>
<body>
    <a href="/"><h1>TicTac Home</h1></a>
    <h2>View TicTacs</h2>
    {% for post in posts %}



    <div onmouseover="showIcons(this)" onmouseout="hideIcons(this)" class="rounded" style="margin:15px; padding: 15px; background-color:gainsboro;">
        <div style="width: 100%">
            <div style="width: 80%;/*position: relative;*/ display: inline-block;">
                <div>
                    <p>Posted by <a href="{{ url_for("profile", username=get_user_by_id(post.owner_id).display_name) }}">{{ post.name }} @{{ get_user_by_id(post.owner_id).username }}</a></p>
                    <h2 style="display: inline;">{{ post.title }}</h2>
                    <p>{{ post.body|safe }}</p>
                </div>
            </div>
            <div class="iconsDiv" style="float: right; display: none; /*position: relative; left:95%;%/" hidden>
                <img style="cursor: pointer;" onclick="loadComments({{ post.post_id }})" width="32" height="32" src="{{url_for('static', filename='message.svg')}}" />
            </div>
        </div>
    </div>



    {% endfor %}
    <div id="comment-div" hidden style="position: fixed;">
        <div style="height:15%;">
            <h2 style="float: left;">Comments</h2>
            <div onclick="this.parentNode.parentNode.hidden = true;" style="cursor: pointer; font-size:50px; line-height: 1em; float: right;">&times;</div>
        </div>
        <form id="commentForm" action="/comment" metod="post">
            <input type="hidden" id="formPostId" name="post_id" />
            <label for="comment">Comment: </label>
            <input required id="comment" autocomplete="off" type="text" maxlength="256" name="text" />
            <input type="submit" />
        </form>
        <p id="error" hidden>Error posting comment</p>
        <div id="comments">Loading...</div>
    </div>
    <script>
        var currentPostId = 0;
        var refreshCommentTimeout = 0;
        function refreshComments() {
            if (!commentDiv.hidden) {
                loadComments(currentPostId);
            }
        }
        const commentDiv = document.getElementById("comment-div");
        async function loadComments(postId) {
            clearTimeout(refreshCommentTimeout);
            refreshCommentTimeout = setTimeout(refreshComments, 10000);
            currentPostId = postId;
            const commentEl = document.getElementById("comments");
            commentEl.innerHTML = "Loading...";
            commentDiv.hidden = false;
            commentRequest = await fetch("/comments?id=" + postId);
            var val = await commentRequest.text();
            commentEl.innerHTML = val;
            document.getElementById("formPostId").value = postId;
        }
        const comment = document.getElementById("comment");
        const err = document.getElementById("error");
        const commentForm = document.getElementById("commentForm");
        commentForm.addEventListener("submit", async (e) => {
            e.preventDefault();
            const r = await fetch("/comment", {
                method: "POST",
                body: new FormData(commentForm)
            });
            if (r.ok) {
                comment.value = "";
                err.hidden = true;
                loadComments(currentPostId);
            } else {
                if (await r.text() == "notloggedin") {
                    err.innerHTML = "You need to <a href=\"{{url_for('login')}}\">login</a> or <a href=\"{{url_for('signup')}}\">signup</a> in order to post a comment.";
                    err.hidden = false;
                } else {
                    err.innerHTML = "Error posting comment";
                    err.hidden = false;
                }
            }
        });
        function showIcons(el) {
            const e = el.querySelector(".iconsDiv")
            e.style.display = "inline-block";
        }
        function hideIcons(el) {
            const e = el.querySelector(".iconsDiv")
            e.hidden = true;
            e.style.display = "none";
        }
    </script>
</body>
</html>