<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>{{ data.profile.username }} @{{ data.profile.display_name }}</h1>
    <p>{{ data.profile.follower_count }} Followers.</p>
    {% if data.signed_in %}<form action="/follow" , method="post">
    <input type="hidden" name="type" value="{{ "false" if data.following else "true" }}" />
    <input type="hidden" name="username" value="{{ data.profile.username }}" />
    <input type="submit" value="{{ "Unfollow" if data.following else "Follow" }}" />
</form>
    {% endif %}
</body>
</html>